# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
otonom_env/
ENV/
.env

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Deep Learning / Weights
*.pt
*.pb
*.pth
*.h5
*.onnx
*.weights
!rcgan_qt_gui_app_v1/checkpoint_epoch_29.pt
!detector/EDSR_x4.pb
!detector/yolov8n.pt
!akilli_veri_arttirimi/waymo_rcgan_GODMODE_V2_PHYSICS_AWARE.pth

# Outputs & Results
outputs/
results/
yolo_visual_failure_outputs/
segmentation_outputs/
gan_upscaled/
gan_generated/
robustness_dataset/generated_upscaled/
robustness_dataset/clean/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
push.log
*.csv
!akilli_veri_arttirimi/waymo_seed_MASSIVE.csv
